<!--

    ThingsBoard, Inc. ("COMPANY") CONFIDENTIAL

    Copyright © 2016-2025 ThingsBoard, Inc. All Rights Reserved.

    NOTICE: All information contained herein is, and remains
    the property of ThingsBoard, Inc. and its suppliers,
    if any.  The intellectual and technical concepts contained
    herein are proprietary to ThingsBoard, Inc.
    and its suppliers and may be covered by U.S. and Foreign Patents,
    patents in process, and are protected by trade secret or copyright law.

    Dissemination of this information or reproduction of this material is strictly forbidden
    unless prior written permission is obtained from COMPANY.

    Access to the source code contained herein is hereby forbidden to anyone except current COMPANY employees,
    managers or contractors who have executed Confidentiality and Non-disclosure agreements
    explicitly covering such access.

    The copyright notice above does not evidence any actual or intended publication
    or disclosure  of  this source code, which includes
    information that is confidential and/or proprietary, and is a trade secret, of  COMPANY.
    ANY REPRODUCTION, MODIFICATION, DISTRIBUTION, PUBLIC  PERFORMANCE,
    OR PUBLIC DISPLAY OF OR THROUGH USE  OF THIS  SOURCE CODE  WITHOUT
    THE EXPRESS WRITTEN CONSENT OF COMPANY IS STRICTLY PROHIBITED,
    AND IN VIOLATION OF APPLICABLE LAWS AND INTERNATIONAL TREATIES.
    THE RECEIPT OR POSSESSION OF THIS SOURCE CODE AND/OR RELATED INFORMATION
    DOES NOT CONVEY OR IMPLY ANY RIGHTS TO REPRODUCE, DISCLOSE OR DISTRIBUTE ITS CONTENTS,
    OR TO MANUFACTURE, USE, OR SELL ANYTHING THAT IT  MAY DESCRIBE, IN WHOLE OR IN PART.

-->
<div [formGroup]="propagateConfiguration" class="tb-form-panel no-border no-padding">
  <div class="tb-form-panel">
    <div class="tb-form-panel-title" tbTruncateWithTooltip tb-hint-tooltip-icon="{{ 'calculated-fields.hint.propagation-path-related-entities' | translate }}">
      {{ 'calculated-fields.propagation-path-related-entities' | translate }}
    </div>
    <div class="flex gap-3 xs:flex-col" formGroupName="relation">
      <mat-form-field class="flex-1" appearance="outline" subscriptSizing="dynamic" hideRequiredMarker>
        <mat-label>{{ 'calculated-fields.direction' | translate }}</mat-label>
        <mat-select formControlName="direction">
          @for (direction of Directions; track direction) {
            <mat-option [value]="direction">{{ PropagationDirectionTranslations.get(direction) | translate }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <tb-string-autocomplete [fetchOptionsFn]="fetchOptions.bind(this)"
                              class="flex-1"
                              panelWidth=""
                              additionalClass=""
                              required
                              [label]="'calculated-fields.relation-type' | translate"
                              [errorText]="'calculated-fields.hint.relation-type-required' | translate"
                              formControlName="relationType">
      </tb-string-autocomplete>
    </div>
  </div>
  <div class="tb-form-panel">
    <div class="flex flex-row items-center justify-between gap-2">
      <div class="tb-form-panel-title" tb-hint-tooltip-icon="{{ 'calculated-fields.hint.data-propagate' | translate }}">
        {{ 'calculated-fields.data-propagate' | translate }}
      </div>
      <tb-toggle-select formControlName="applyExpressionToResolvedArguments" selectMediaBreakpoint="xs" disablePagination>
        <tb-toggle-option [value]="false">{{ 'calculated-fields.propagate-type.arguments-only' | translate }}</tb-toggle-option>
        <tb-toggle-option [value]="true">{{ 'calculated-fields.propagate-type.expression-result' | translate }}</tb-toggle-option>
      </tb-toggle-select>
    </div>
    <tb-propagate-arguments-table formControlName="arguments"
                                  [entityId]="entityId"
                                  [tenantId]="tenantId"
                                  [entityName]="entityName"
                                  [ownerId]="ownerId"
                                  [isScript]="this.propagateConfiguration.get('applyExpressionToResolvedArguments').value"
                                  [readonly]="readonly"/>
  </div>
  <div class="tb-form-panel no-gap" [class.!hidden]="!this.propagateConfiguration.get('applyExpressionToResolvedArguments').value">
    <div class="tb-form-panel-title tb-required">
      {{ 'calculated-fields.script' | translate }}
    </div>
    <div>
      <tb-js-func required
                  formControlName="expression"
                  functionName="calculate"
                  [functionArgs]="functionArgs$ | async"
                  [disableUndefinedCheck]="true"
                  [scriptLanguage]="ScriptLanguage.TBEL"
                  [highlightRules]="argumentsHighlightRules$ | async"
                  [editorCompleter]="argumentsEditorCompleter$ | async"
                  [helpPopupStyle]="{ width: '1200px' }"
                  helpId="calculated-field/expression_fn">
        <div toolbarPrefixButton
             class="tb-primary-background tbel-script-lang-chip">{{ 'api-usage.tbel' | translate }}
        </div>
        <button toolbarSuffixButton
                mat-icon-button
                matTooltip="{{ 'calculated-fields.test-expression-function' | translate }}"
                matTooltipPosition="above"
                class="tb-mat-32"
                [disabled]="propagateConfiguration.get('arguments').invalid || readonly"
                (click)="onTestScript()">
          <mat-icon class="material-icons" color="primary">bug_report</mat-icon>
        </button>
      </tb-js-func>
      @if (!readonly) {
        <div>
          <button mat-button mat-raised-button color="primary"
                  type="button"
                  (click)="onTestScript()"
                  [disabled]="propagateConfiguration.get('arguments').invalid">
            {{ 'calculated-fields.test-expression-function' | translate }}
          </button>
        </div>
      }
    </div>
  </div>
  <tb-calculate-field-output formControlName="output" [entityId]="entityId">
  </tb-calculate-field-output>
</div>
