/**
 * ThingsBoard, Inc. ("COMPANY") CONFIDENTIAL
 *
 * Copyright © 2016-2026 ThingsBoard, Inc. All Rights Reserved.
 *
 * NOTICE: All information contained herein is, and remains
 * the property of ThingsBoard, Inc. and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to ThingsBoard, Inc.
 * and its suppliers and may be covered by U.S. and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 *
 * Dissemination of this information or reproduction of this material is strictly forbidden
 * unless prior written permission is obtained from COMPANY.
 *
 * Access to the source code contained herein is hereby forbidden to anyone except current COMPANY employees,
 * managers or contractors who have executed Confidentiality and Non-disclosure agreements
 * explicitly covering such access.
 *
 * The copyright notice above does not evidence any actual or intended publication
 * or disclosure  of  this source code, which includes
 * information that is confidential and/or proprietary, and is a trade secret, of  COMPANY.
 * ANY REPRODUCTION, MODIFICATION, DISTRIBUTION, PUBLIC  PERFORMANCE,
 * OR PUBLIC DISPLAY OF OR THROUGH USE  OF THIS  SOURCE CODE  WITHOUT
 * THE EXPRESS WRITTEN CONSENT OF COMPANY IS STRICTLY PROHIBITED,
 * AND IN VIOLATION OF APPLICABLE LAWS AND INTERNATIONAL TREATIES.
 * THE RECEIPT OR POSSESSION OF THIS SOURCE CODE AND/OR RELATED INFORMATION
 * DOES NOT CONVEY OR IMPLY ANY RIGHTS TO REPRODUCE, DISCLOSE OR DISTRIBUTE ITS CONTENTS,
 * OR TO MANUFACTURE, USE, OR SELL ANYTHING THAT IT  MAY DESCRIBE, IN WHOLE OR IN PART.
 */
@import "../../../../../scss/constants";

:host {
  width: 100%;
  height: 100%;
  position: relative;
}

.cards-wrapper {
  width: 100%;
  height: 100%;
  padding: 12px;
}

.cards-grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 12px;
  @media #{$mat-gt-xs} {
    grid-template-columns: repeat(2, 1fr);
  }
  @media #{$mat-gt-xmd} {
    grid-template-columns: repeat(3, 1fr);
  }

  .card {
    min-height: 300px;
    border-radius: 12px;
    box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }

  .card-header {
    width: 100%;
    padding-bottom: 12px;
    gap: 8px;
  }

  .card-title-container {
    overflow: hidden;
  }

  .title-container {
    width: 100%;
    padding-bottom: 12px;
    gap: 8px;
  }

  .card-title {
    gap: 8px;
    color: rgba(0, 0, 0, 0.54);
    font-weight: 500;
    letter-spacing: 0.25px;
  }

  .card-subtitle {
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: rgba(0, 0, 0, 0.54);
  }

  .card-content {
    min-height: 0;
  }
}

.entities-table {
  overflow-y: auto;

  .entity-item {
    padding: 10px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);

    &:hover {
      background-color: var(--tb-hover-color, #f4f4f4);
    }
  }

  .entity-name {
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: rgba(0, 0, 0, 0.76);
    cursor: pointer;
    border-bottom: none;
  }

  .entity-status {
    padding: 0 12px;
    border-radius: 16px;
    font-size: 14px;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.54);
    background-color: rgba(0, 0, 0, 0.06);

    &.active {
      color: #198038;
      background-color: rgba(25, 128, 56, 0.06);
    }
  }
}

.trendz-unavailable {
  width: 100%;
  height: 100%;
  color: var(--tb-primary-500);

  svg {
    display: block;
    width: 100%;
    height: 100%;
    filter: blur(4px);
  }
}

::ng-deep {
  a.mat-mdc-menu-item.view-item {
    border-bottom: none;
  }
}
