/**
 * ThingsBoard, Inc. ("COMPANY") CONFIDENTIAL
 *
 * Copyright © 2016-2025 ThingsBoard, Inc. All Rights Reserved.
 *
 * NOTICE: All information contained herein is, and remains
 * the property of ThingsBoard, Inc. and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to ThingsBoard, Inc.
 * and its suppliers and may be covered by U.S. and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 *
 * Dissemination of this information or reproduction of this material is strictly forbidden
 * unless prior written permission is obtained from COMPANY.
 *
 * Access to the source code contained herein is hereby forbidden to anyone except current COMPANY employees,
 * managers or contractors who have executed Confidentiality and Non-disclosure agreements
 * explicitly covering such access.
 *
 * The copyright notice above does not evidence any actual or intended publication
 * or disclosure  of  this source code, which includes
 * information that is confidential and/or proprietary, and is a trade secret, of  COMPANY.
 * ANY REPRODUCTION, MODIFICATION, DISTRIBUTION, PUBLIC  PERFORMANCE,
 * OR PUBLIC DISPLAY OF OR THROUGH USE  OF THIS  SOURCE CODE  WITHOUT
 * THE EXPRESS WRITTEN CONSENT OF COMPANY IS STRICTLY PROHIBITED,
 * AND IN VIOLATION OF APPLICABLE LAWS AND INTERNATIONAL TREATIES.
 * THE RECEIPT OR POSSESSION OF THIS SOURCE CODE AND/OR RELATED INFORMATION
 * DOES NOT CONVEY OR IMPLY ANY RIGHTS TO REPRODUCE, DISCLOSE OR DISTRIBUTE ITS CONTENTS,
 * OR TO MANUFACTURE, USE, OR SELL ANYTHING THAT IT  MAY DESCRIBE, IN WHOLE OR IN PART.
 */
@import '../../../../scss/constants';

.request-feature-dialog {

  @media #{$mat-sm} {
    max-width: 600px;
  }
  @media #{$mat-md} {
    max-width: 650px;
  }
  @media #{$mat-lg} {
    max-width: 650px;
  }
  @media #{$mat-xl} {
    max-width: 900px;
  }

  height: 100%;

  @media #{$mat-gt-xs} {
    max-height: 80vh;
  }

  padding: 40px 40px 24px 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;


  .request-feature-title {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    color: rgba(0, 0, 0, 0.87);
  }

  .request-feature-text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.76);
  }

  .request-feature-cards {
    flex: 1;
    min-height: 0;
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
    @media #{$mat-xs} {
      flex-direction: column;
      flex-wrap: nowrap;
    }
    .request-feature-card {
      flex: 0 0 calc(33.33% - 8px);
      width: calc(33.33% - 8px);
      @media #{$mat-lt-lg} {
        @media #{$mat-xs} {
          flex: 0;
          width: 100%;
        }
        flex: 0 0 calc(50% - 8px);
        width: calc(50% - 8px);
      }
      border-radius: 4px;
      border: 1px solid rgba(0, 0, 0, 0.12);
      padding: 16px;
      display: flex;
      flex-direction: column;
      gap: 8px;


      .feature-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;

        .feature-title-text {
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 24px;
          color: rgba(0, 0, 0, 0.87);
        }
        .feature-title-hint {
          display: none;
          @media #{$mat-gt-xs} {
            display: flex;
            @media #{$mat-gt-xl} {
              display: none;
            }
          }
        }
      }

      .feature-text {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        color: rgba(0, 0, 0, 0.76);
        display: none;
        @media #{$mat-xs} {
          display: block;
        }
        @media #{$mat-gt-xl} {
          display: block;
        }
      }
    }
  }

  .request-feature-actions {
    background-color: rgba(0, 0, 0, 0.04);
    padding: 16px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    .request-feature-action-text {
      text-align: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      color: rgba(0, 0, 0, 0.76);
    }
  }

  .request-feature-sysadmin-prompt {
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.54);
  }
}
