<!--

    ThingsBoard, Inc. ("COMPANY") CONFIDENTIAL

    Copyright © 2016-2025 ThingsBoard, Inc. All Rights Reserved.

    NOTICE: All information contained herein is, and remains
    the property of ThingsBoard, Inc. and its suppliers,
    if any.  The intellectual and technical concepts contained
    herein are proprietary to ThingsBoard, Inc.
    and its suppliers and may be covered by U.S. and Foreign Patents,
    patents in process, and are protected by trade secret or copyright law.

    Dissemination of this information or reproduction of this material is strictly forbidden
    unless prior written permission is obtained from COMPANY.

    Access to the source code contained herein is hereby forbidden to anyone except current COMPANY employees,
    managers or contractors who have executed Confidentiality and Non-disclosure agreements
    explicitly covering such access.

    The copyright notice above does not evidence any actual or intended publication
    or disclosure  of  this source code, which includes
    information that is confidential and/or proprietary, and is a trade secret, of  COMPANY.
    ANY REPRODUCTION, MODIFICATION, DISTRIBUTION, PUBLIC  PERFORMANCE,
    OR PUBLIC DISPLAY OF OR THROUGH USE  OF THIS  SOURCE CODE  WITHOUT
    THE EXPRESS WRITTEN CONSENT OF COMPANY IS STRICTLY PROHIBITED,
    AND IN VIOLATION OF APPLICABLE LAWS AND INTERNATIONAL TREATIES.
    THE RECEIPT OR POSSESSION OF THIS SOURCE CODE AND/OR RELATED INFORMATION
    DOES NOT CONVEY OR IMPLY ANY RIGHTS TO REPRODUCE, DISCLOSE OR DISTRIBUTE ITS CONTENTS,
    OR TO MANUFACTURE, USE, OR SELL ANYTHING THAT IT  MAY DESCRIBE, IN WHOLE OR IN PART.

-->

<div class="flex flex-col">
    <mat-card appearance="outlined" class="settings-card">
        <div class="tb-form-panel no-border flex flex-col gap-4">
            <div class="tb-form-panel-title">
                {{ 'trendz-analytics.service-connection' | translate }}
            </div>
            <div class="sync-result flex flex-1 flex-col gap-4" [class.active]="trendzSyncInfo.status === TrendzSynchronizationStatus.SYNCED">
                <div class="sync-result-title flex items-center gap-2">
                    @if(trendzSyncInfo.status === TrendzSynchronizationStatus.SYNCED) {
                        <mat-icon svgIcon="mdi:check-circle-outline"></mat-icon>
                    } @else {
                        <mat-icon class="material-icons">block</mat-icon>
                    }
                    {{ TrendzSynchronizationResultTypeTranslationMap.get(trendzSyncInfo.type) | translate }}
                </div>
                <div class="flex gap-2">
                    <button mat-button mat-raised-button color="primary" type="button" [disabled]="(isLoading$ | async)" (click)="retryDiscovery()">
                        <tb-icon matButtonIcon>refresh</tb-icon>
                        {{ 'trendz-analytics.retry-discovery' | translate }}
                    </button>
                    @if(trendzSyncInfo.status === TrendzSynchronizationStatus.SYNCED) {
                        <button mat-stroked-button color="primary" type="button" [disabled]="(isLoading$ | async)" (click)="retryHealthcheck()">
                            {{ 'trendz-analytics.retry-healthcheck' | translate }}
                        </button>
                    } @else if(trendzSyncInfo.type === TrendzSynchronizationResultType.TRENDZ_UNSUPPORTED_VERSION) {
                        <a mat-stroked-button color="primary" href="https://thingsboard.io/docs/trendz/" target="_blank">
                            <tb-icon matButtonIcon>refresh</tb-icon>
                            {{ 'trendz-analytics.read-upgrade-guide' | translate }}
                        </a>
                    } 
                </div>
            </div>
        </div>
    </mat-card>
    <mat-card appearance="outlined" class="settings-card">
        <div class="tb-form-panel no-border">
            <div class="tb-form-panel-title">
                {{ 'trendz-analytics.trendz-configuration' | translate }}
            </div>
            <div class="flex flex-row xs:flex-col gap-4 items-start" [formGroup]="trendzSettingsForm">
                <mat-form-field class="flex-1 xs:w-full" appearance="outline" subscriptSizing="dynamic">
                    <mat-label>{{ 'trendz-analytics.trendz-internal-url' | translate }}</mat-label>
                    <input matInput required formControlName="trendzUrl">
                    @if (trendzSettingsForm.get('trendzUrl').errors && trendzSettingsForm.get('trendzUrl').touched) {
                        <mat-error>
                            @if (trendzSettingsForm.get('trendzUrl').hasError('required')) {
                                {{ 'trendz-analytics.trendz-internal-url-required' | translate }}
                            } @else if (trendzSettingsForm.get('trendzUrl').hasError('pattern')) {
                                {{ 'trendz-analytics.trendz-internal-url-invalid' | translate }}
                            }
                        </mat-error>
                    }
                </mat-form-field>
                <mat-form-field class="flex-1 xs:w-full" appearance="outline" subscriptSizing="dynamic">
                    <mat-label>{{ 'trendz-analytics.thingsboard-internal-url' | translate }}</mat-label>
                    <input matInput required formControlName="tbUrl">
                    @if (trendzSettingsForm.get('tbUrl').errors && trendzSettingsForm.get('tbUrl').touched) {
                        <mat-error>
                            @if (trendzSettingsForm.get('tbUrl').hasError('required')) {
                                {{ 'trendz-analytics.thingsboard-internal-url-required' | translate }}
                            } @else if (trendzSettingsForm.get('tbUrl').hasError('pattern')) {
                                {{ 'trendz-analytics.thingsboard-internal-url-invalid' | translate }}
                            }
                        </mat-error>
                    }
                </mat-form-field>
            </div>
            <div class="flex w-full flex-row flex-wrap items-center justify-end">
                <button mat-button mat-raised-button color="primary" [disabled]="(isLoading$ | async) || trendzSettingsForm.invalid || !trendzSettingsForm.dirty" (click)="save()">
                  {{ 'trendz-analytics.save-configuration' | translate }}
                </button>
              </div>
        </div>
    </mat-card>
</div>