<!--

    ThingsBoard, Inc. ("COMPANY") CONFIDENTIAL

    Copyright © 2016-2025 ThingsBoard, Inc. All Rights Reserved.

    NOTICE: All information contained herein is, and remains
    the property of ThingsBoard, Inc. and its suppliers,
    if any.  The intellectual and technical concepts contained
    herein are proprietary to ThingsBoard, Inc.
    and its suppliers and may be covered by U.S. and Foreign Patents,
    patents in process, and are protected by trade secret or copyright law.

    Dissemination of this information or reproduction of this material is strictly forbidden
    unless prior written permission is obtained from COMPANY.

    Access to the source code contained herein is hereby forbidden to anyone except current COMPANY employees,
    managers or contractors who have executed Confidentiality and Non-disclosure agreements
    explicitly covering such access.

    The copyright notice above does not evidence any actual or intended publication
    or disclosure  of  this source code, which includes
    information that is confidential and/or proprietary, and is a trade secret, of  COMPANY.
    ANY REPRODUCTION, MODIFICATION, DISTRIBUTION, PUBLIC  PERFORMANCE,
    OR PUBLIC DISPLAY OF OR THROUGH USE  OF THIS  SOURCE CODE  WITHOUT
    THE EXPRESS WRITTEN CONSENT OF COMPANY IS STRICTLY PROHIBITED,
    AND IN VIOLATION OF APPLICABLE LAWS AND INTERNATIONAL TREATIES.
    THE RECEIPT OR POSSESSION OF THIS SOURCE CODE AND/OR RELATED INFORMATION
    DOES NOT CONVEY OR IMPLY ANY RIGHTS TO REPRODUCE, DISCLOSE OR DISTRIBUTE ITS CONTENTS,
    OR TO MANUFACTURE, USE, OR SELL ANYTHING THAT IT  MAY DESCRIBE, IN WHOLE OR IN PART.

-->
<div class="tb-login-content mat-app-background tb-dark flex flex-1 items-center justify-center" [class.dark-foreground]="wl.loginDarkForeground$ | async"
     [style.background-color]="wl.loginPageBackgroundColor$ | async">
  <mat-card appearance="raised" style="max-height: 100%; overflow-y: auto;">
    <mat-card-content class="!p-6">
      <form class="tb-login-form" [formGroup]="loginFormGroup" (ngSubmit)="login()">
        <div class="flex flex-col">
          <div class="flex flex-col items-center justify-start" style="padding: 15px 0;">
            <img [src]="wl.loginLogo$ | async | image: {loginLogo: true} | async" [style.height.px]="wl.loginLogoHeight$ | async" aria-label="logo"/>
            <section class="version center"
                       *ngIf="(wl.loginShowNameVersion$ | async) && (wl.showNameBottom$ | async) === false" [innerHTML]="platformNameAndVersion$() | async"></section>
          </div>
          <mat-progress-bar color="warn" mode="indeterminate" *ngIf="isLoading">
          </mat-progress-bar>
          <span style="height: 4px;" *ngIf="!isLoading"></span>
          <span tb-toast style="height: 20px;"></span>
          <div class="flex flex-col">
            @if(oauth2Clients?.length) {
              <div class="oauth-container tb-default flex flex-col gap-4">
                @if(oauth2Clients.length !== 1) {
                  <div class="title">{{ 'login.sign-in-with' | translate: {name: ''} }}</div>
                }
                <div class="login-button-container flex flex-wrap justify-center gap-4">
                  @for(oauth2Client of oauth2Clients; track oauth2Client.url) {
                    <a mat-stroked-button class="login-with-button"
                       [href]=getOAuth2Uri(oauth2Client)>
                      <tb-icon matButtonIcon class="tb-mat-20">{{ oauth2Client.icon }}</tb-icon>
                      @if(oauth2Clients.length === 1) {
                        {{ 'login.sign-in-with' | translate: {name: oauth2Clients[0].name} }}
                      } @else {
                        {{ oauth2Client.name }}
                      }
                    </a>
                  }
                </div>
                <div class="container-divider">
                  <mat-divider class="tb-dark flex-1"></mat-divider>
                  <div class="text">{{ "login.or" | translate | uppercase }}</div>
                  <mat-divider class="tb-dark flex-1"></mat-divider>
                </div>
              </div>
            } @else {
              <div class="oauth-container flex flex-col">
                <div class="title !mb-4" translate>login.sign-in-to-your-account</div>
              </div>
            }
            <mat-form-field class="tb-autofilled" appearance="outline" hideRequiredMarker>
              <mat-label translate>login.username</mat-label>
              <input id="username-input" matInput type="email" autofocus formControlName="username" autocomplete="username"/>
              <mat-icon matPrefix>email</mat-icon>
              <mat-error *ngIf="loginFormGroup.get('username').invalid">
                {{ 'login.invalid-email-format' | translate }}
              </mat-error>
            </mat-form-field>
            <mat-form-field class="tb-autofilled" appearance="outline">
              <mat-label translate>common.password</mat-label>
              <input id="password-input" matInput type="password" formControlName="password" autocomplete="current-password"/>
              <tb-toggle-password matSuffix></tb-toggle-password>
              <mat-icon matPrefix>lock</mat-icon>
            </mat-form-field>
            <button mat-flat-button color="accent" [disabled]="isLoading"
                    class="tb-action-button" type="submit">{{ 'login.sign-in' | translate }}</button>
            <div class="forgot-password flex items-center justify-between gap-5">
              @if(selfRegistrationService.signUpParams?.activate) {
                <div class="no-account-section flex gap-2">
                  <span class="no-account-message" translate>login.no-account</span>
                  <a routerLink="/signup">{{ 'signup.signup' | translate }}</a>
                </div>
              } @else {
                <span></span>
              }
              <button class="tb-reset-password" mat-button type="button" routerLink="/login/resetPasswordRequest">
                {{ (passwordViolation ? 'login.reset-password' : 'login.forgot-password') | translate }}
              </button>
            </div>
            <section class="version"
                     *ngIf="(wl.loginShowNameVersion$ | async) && (wl.showNameBottom$ | async)" [innerHTML]="platformNameAndVersion$() | async"></section>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
