<!--

    ThingsBoard, Inc. ("COMPANY") CONFIDENTIAL

    Copyright © 2016-2025 ThingsBoard, Inc. All Rights Reserved.

    NOTICE: All information contained herein is, and remains
    the property of ThingsBoard, Inc. and its suppliers,
    if any.  The intellectual and technical concepts contained
    herein are proprietary to ThingsBoard, Inc.
    and its suppliers and may be covered by U.S. and Foreign Patents,
    patents in process, and are protected by trade secret or copyright law.

    Dissemination of this information or reproduction of this material is strictly forbidden
    unless prior written permission is obtained from COMPANY.

    Access to the source code contained herein is hereby forbidden to anyone except current COMPANY employees,
    managers or contractors who have executed Confidentiality and Non-disclosure agreements
    explicitly covering such access.

    The copyright notice above does not evidence any actual or intended publication
    or disclosure  of  this source code, which includes
    information that is confidential and/or proprietary, and is a trade secret, of  COMPANY.
    ANY REPRODUCTION, MODIFICATION, DISTRIBUTION, PUBLIC  PERFORMANCE,
    OR PUBLIC DISPLAY OF OR THROUGH USE  OF THIS  SOURCE CODE  WITHOUT
    THE EXPRESS WRITTEN CONSENT OF COMPANY IS STRICTLY PROHIBITED,
    AND IN VIOLATION OF APPLICABLE LAWS AND INTERNATIONAL TREATIES.
    THE RECEIPT OR POSSESSION OF THIS SOURCE CODE AND/OR RELATED INFORMATION
    DOES NOT CONVEY OR IMPLY ANY RIGHTS TO REPRODUCE, DISCLOSE OR DISTRIBUTE ITS CONTENTS,
    OR TO MANUFACTURE, USE, OR SELL ANYTHING THAT IT  MAY DESCRIBE, IN WHOLE OR IN PART.

-->
<div [formGroup]="fieldFormGroup" class="calculated-field-dialog-container flex flex-col">
  <mat-toolbar color="primary">
    <h2>{{ 'entity.type-calculated-field' | translate}}</h2>
    <span class="flex-1"></span>
    <div tb-help="calculatedField"></div>
    <button mat-icon-button
            (click)="cancel()"
            type="button">
      <mat-icon class="material-icons">close</mat-icon>
    </button>
  </mat-toolbar>
  <div mat-dialog-content class="flex-1">
    <div class="tb-form-panel no-border no-padding">
      <div class="tb-form-panel">
        <div class="tb-form-panel-title">{{ 'common.general' | translate }}</div>
        <div class="flex items-center gap-2">
          <mat-form-field class="flex-1" appearance="outline" subscriptSizing="dynamic">
            <mat-label>{{ 'entity-field.title' | translate }}</mat-label>
            <input matInput maxlength="255" formControlName="name" required>
            @if (fieldFormGroup.get('name').errors && fieldFormGroup.get('name').touched) {
              <mat-error>
                @if (fieldFormGroup.get('name').hasError('required')) {
                  {{ 'common.hint.title-required' | translate }}
                } @else if (fieldFormGroup.get('name').hasError('pattern')) {
                  {{ 'common.hint.title-pattern' | translate }}
                } @else if (fieldFormGroup.get('name').hasError('maxlength')) {
                  {{ 'common.hint.title-max-length' | translate }}
                }
              </mat-error>
            }
          </mat-form-field>
          <tb-entity-debug-settings-button
            formControlName="debugSettings"
            [class.mb-5]="fieldFormGroup.get('name').errors && fieldFormGroup.get('name').touched"
            [entityType]="EntityType.CALCULATED_FIELD"
            [additionalActionConfig]="additionalDebugActionConfig"
          />
        </div>
        <mat-form-field appearance="outline" subscriptSizing="dynamic">
          <mat-label>{{ 'common.type' | translate }}</mat-label>
          <mat-select formControlName="type">
            @for (type of fieldTypes; track type) {
              <mat-option [value]="type">{{ CalculatedFieldTypeTranslations.get(type).name | translate}}</mat-option>
            }
          </mat-select>
          @if (CalculatedFieldTypeTranslations.get(fieldFormGroup.get('type').value).hint) {
            <mat-hint>{{ CalculatedFieldTypeTranslations.get(fieldFormGroup.get('type').value).hint | translate }}</mat-hint>
          }
        </mat-form-field>
      </div>
      @switch (fieldFormGroup.get('type').value) {
        @case (CalculatedFieldType.GEOFENCING) {
          <tb-geofencing-configuration formControlName="configuration"
                                       [entityId]="data.entityId"
                                       [entityName]="data.entityName"
                                       [ownerId]="data.ownerId"
                                       [tenantId]="data.tenantId"
                                       [readonly]="data.readonly"
          ></tb-geofencing-configuration>
        }
        @case (CalculatedFieldType.PROPAGATION) {
          <tb-propagation-configuration formControlName="configuration"
                                        [entityId]="data.entityId"
                                        [entityName]="data.entityName"
                                        [tenantId]="data.tenantId"
                                        [ownerId]="data.ownerId"
                                        [testScript]="onTestScript.bind(this)"
                                        [readonly]="data.readonly"
          ></tb-propagation-configuration>
        }
        @case (CalculatedFieldType.RELATED_ENTITIES_AGGREGATION) {
          <tb-related-entities-aggregation-component formControlName="configuration"
                                                     [entityId]="data.entityId"
                                                     [entityName]="data.entityName"
                                                     [tenantId]="data.tenantId"
                                                     [testScript]="onTestScript.bind(this)"
                                                     [readonly]="data.readonly"
          ></tb-related-entities-aggregation-component>
        }
        @case (CalculatedFieldType.ENTITY_AGGREGATION) {
          <tb-entity-aggregation-component formControlName="configuration"
                                           [entityId]="data.entityId"
                                           [entityName]="data.entityName"
                                           [tenantId]="data.tenantId"
                                           [readonly]="data.readonly"
          ></tb-entity-aggregation-component>
        }
        @default {
          <tb-simple-configuration formControlName="configuration"
                                   [entityId]="data.entityId"
                                   [entityName]="data.entityName"
                                   [ownerId]="data.ownerId"
                                   [tenantId]="data.tenantId"
                                   [isScript]="fieldFormGroup.get('type').value === CalculatedFieldType.SCRIPT"
                                   [testScript]="onTestScript.bind(this)"
                                   [readonly]="data.readonly"
          ></tb-simple-configuration>
        }
      }
    </div>
  </div>
  <div mat-dialog-actions class="justify-end">
    <button mat-button color="primary"
            type="button"
            cdkFocusInitial
            (click)="cancel()">
      {{ 'action.cancel' | translate }}
    </button>
    @if (!data.readonly) {
      <button mat-raised-button color="primary"
              (click)="add()"
              [disabled]="(isLoading$ | async) || fieldFormGroup.invalid || !fieldFormGroup.dirty">
        {{ data.buttonTitle | translate }}
      </button>
    }
  </div>
</div>
