/**
 * ThingsBoard, Inc. ("COMPANY") CONFIDENTIAL
 *
 * Copyright © 2016-2025 ThingsBoard, Inc. All Rights Reserved.
 *
 * NOTICE: All information contained herein is, and remains
 * the property of ThingsBoard, Inc. and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to ThingsBoard, Inc.
 * and its suppliers and may be covered by U.S. and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 *
 * Dissemination of this information or reproduction of this material is strictly forbidden
 * unless prior written permission is obtained from COMPANY.
 *
 * Access to the source code contained herein is hereby forbidden to anyone except current COMPANY employees,
 * managers or contractors who have executed Confidentiality and Non-disclosure agreements
 * explicitly covering such access.
 *
 * The copyright notice above does not evidence any actual or intended publication
 * or disclosure  of  this source code, which includes
 * information that is confidential and/or proprietary, and is a trade secret, of  COMPANY.
 * ANY REPRODUCTION, MODIFICATION, DISTRIBUTION, PUBLIC  PERFORMANCE,
 * OR PUBLIC DISPLAY OF OR THROUGH USE  OF THIS  SOURCE CODE  WITHOUT
 * THE EXPRESS WRITTEN CONSENT OF COMPANY IS STRICTLY PROHIBITED,
 * AND IN VIOLATION OF APPLICABLE LAWS AND INTERNATIONAL TREATIES.
 * THE RECEIPT OR POSSESSION OF THIS SOURCE CODE AND/OR RELATED INFORMATION
 * DOES NOT CONVEY OR IMPLY ANY RIGHTS TO REPRODUCE, DISCLOSE OR DISTRIBUTE ITS CONTENTS,
 * OR TO MANUFACTURE, USE, OR SELL ANYTHING THAT IT  MAY DESCRIBE, IN WHOLE OR IN PART.
 */
@page {

    @top-center {
        content: element(header);
        vertical-align: bottom;
    }

    @bottom-center {
        content: element(footer);
        vertical-align: top;
    }
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    src: url("classpath:fonts/roboto/roboto.ttf");
    -fs-pdf-font-embed: embed;
    -fs-pdf-font-encoding: Identity-H;
}

@font-face {
    font-family: "Roboto";
    font-style: italic;
    src: url("classpath:fonts/roboto/robotoitalic.ttf");
    -fs-pdf-font-embed: embed;
    -fs-pdf-font-encoding: Identity-H;
}

@font-face {
    font-family: "monospace";
    font-style: normal;
    font-weight: normal;
    src: url("classpath:fonts/monospace/dejavusansmono.ttf");
    -fs-pdf-font-embed: embed;
    -fs-pdf-font-encoding: Identity-H;
}

@font-face {
    font-family: "monospace";
    font-style: normal;
    font-weight: bold;
    src: url("classpath:fonts/monospace/dejavusansmonobold.ttf");
    -fs-pdf-font-embed: embed;
    -fs-pdf-font-encoding: Identity-H;
}

@font-face {
    font-family: "sans-serif";
    font-style: normal;
    font-weight: normal;
    src: url("classpath:fonts/sansserif/dejavusansmono.ttf");
    -fs-pdf-font-embed: embed;
    -fs-pdf-font-encoding: Identity-H;
}

@font-face {
    font-family: "sans-serif";
    font-style: normal;
    font-weight: bold;
    src: url("classpath:fonts/sansserif/dejavusansmonobold.ttf");
    -fs-pdf-font-embed: embed;
    -fs-pdf-font-encoding: Identity-H;
}

@font-face {
    font-family: "serif";
    font-style: normal;
    font-weight: normal;
    src: url("classpath:fonts/serif/times.ttf");
    -fs-pdf-font-embed: embed;
    -fs-pdf-font-encoding: Identity-H;
}

@font-face {
    font-family: "serif";
    font-style: italic;
    font-weight: normal;
    src: url("classpath:fonts/serif/timesi.ttf");
    -fs-pdf-font-embed: embed;
    -fs-pdf-font-encoding: Identity-H;
}

@font-face {
    font-family: "serif";
    font-style: normal;
    font-weight: bold;
    src: url("classpath:fonts/serif/timesbd.ttf");
    -fs-pdf-font-embed: embed;
    -fs-pdf-font-encoding: Identity-H;
}

@font-face {
    font-family: "serif";
    font-style: italic;
    font-weight: bold;
    src: url("classpath:fonts/serif/timesbi.ttf");
    -fs-pdf-font-embed: embed;
    -fs-pdf-font-encoding: Identity-H;
}

body {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: normal;
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.page-number:before {
    content: counter(page);
}

.page-count:before {
    content: counter(pages);
}

.page-break {
    page-break-after: always;
}

.header {
    position: running(header);
}

.footer {
    position: running(footer);
}

.header, .footer, .content {
    display: flex;
    flex-direction: column;
}

div.report-component {
    position: relative;
    overflow: hidden;
    font-size: 16px;
}

div.report-component p {
    margin: 1em 0;
    font-weight: 400;
    line-height: 1.4;
}